.home {
  display: flex;
  margin: 100px;
  background-color: white;
}
.home__text {
  flex: 0.45;
  padding: 20px;
  margin: 10px;
}

.home__text > button {
  margin-top: 25px;
  background-color: black;
  color: white;
}
.home__chargingpoint {
  margin-top: 25px;
  background-color: black !important;
  color: white !important;
}
.MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(197, 46, 46, 0.4) !important;
}
.home__hero {
  display: flex;
  justify-content: space-between;
}
.home__image {
  flex: 0.55;
  width: 100%;
  /* height: fit-content; */
}
.home__image > img {
  height: 360px;
  max-width: 100%;
}
.home__image11 {
  text-align-last: right;
}
.home__charging11 {
  height: 360px;
  margin-top: 5%;
  max-width: 100%;
}
/* .home__charging11 {
  height: 360px;
  margin-top: 5%;
  max-width: 100%;
} */

@media screen and (min-width: 780px) {
  .home__charging11 {
    height: 360px;
    margin-top: 5%;
    max-width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .home__charging11 {
    height: 320px;
    margin-top: 5%;
    max-width: 350px;
  }
}
@media screen and (min-width: 270px) {
  .home__charging11 {
    height: 290px;
    margin-top: 5%;
    max-width: 290px;
  }
}
/* @media screen and (min-width: 676px) {
  .home__charging11 { */
/* height: 360px; */
/* max-width: 100%; */
/* } */
/* } */
