.footer_container {
  background-color: rgba(14, 133, 212, 0.815);
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  color: white;
}
.footer_container > ul {
  display: flex;
  list-style-type: none;
}

.footer_lists {
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
}

.footer_logo {
  width: 100px;
  padding-right: 20px;
}

.footer_list {
  text-decoration: none;
  color: white;
}
.footer_list:hover {
  color: rgb(175, 40, 40);
  text-decoration: none;
}

.privacy {
  text-align: center;
}
.footer__media {
  height: 40px;
}
@media screen and (max-width: 290px) {
  .footer__media {
    display: flex;
    /* height: auto; */
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .footer__media {
    display: flex;
    height: auto !important;
    flex-direction: column;
    text-align: center;
  }
}
